<h1>Editing Book</h1>
<% if @book.errors.any? %>>
   <%= @book.errors.count %>error prohibited this book from being saved:
   <ul>
    <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
   </ul>
  <% end %>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

 <div class = "field">
  <lavel for = "book_title">Title</lavel><br>
  <%= f.text_field :title %>
 </div>

 <div class = "field">
  <lavel for = "book_body">Body</lavel><br>
  <%= f.text_area :body %>
 </div>

 <div class = "actions">
  <%= f.submit 'Update Book' %>
 </div>

 <%= link_to "Show", book_path(@book.id) %>
 |
 <a href = "/books">Back</a>

<% end %>